// Colors 
$primary-color: #008080;
$secondary-color: #FFFFFF;
$bg-color: #eeeeee;
$text-color: #000000;
$text-color2:#808080;

//Size
$heading1: 2.5rem; /* 40px */
$heading2: 2rem; /* 32px */
$heading3: 1rem; /* 16px */
$button-text: 0.875rem; /* 14px */

$text-xlarge: 1.5rem; /* 24px */
$text-large: 1.125rem; /* 18px */
$text-medium: 1rem; /* 16px */
$text-small: 0.875rem; /* 14px */